.bevel p .btn {
  border-radius: 0;
  box-shadow: inset 4px 4px 4px 3px rgba(255, 255, 255, 0.5), inset 0 -4px 4px 3px rgba(0, 0, 0, 0.6);
  /*bottom internal shadow*/ }
  .bevel p .btn.btn-default {
    background-color: rgba(255, 0, 0, 0.7); }
