.background {

  .jumbotron, .container {
    background: url('/resources/images/shell-bg.png') repeat,
                url('/resources/images/cat-bg.png') repeat-x,
                url('/resources/images/star-bg.png') repeat;
  }
  
  p {
    font-weight: bold;
    font-style: italic;
  }
}