.marquee {
  height: 30px;

  overflow: hidden;
  position: relative;
}

.marquee p {
  display: block;
  width: 200%;
  height: 30px;

  position: absolute;
  overflow: hidden;

  -webkit-animation: marquee 4s linear infinite;
  animation: marquee 4s linear infinite;
}

.marquee span {
  float: left;
  width: 50%;
}

@-webkit-keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}

@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}