body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;

  h1 {
    margin-bottom: 30px;
  }
}

#canvas {
  -webkit-animation: throb 1s alternate infinite;
}

@-webkit-keyframes throb {
  0% { -webkit-filter: contrast(1000%); }
  100% { -webkit-filter: contrast(100%); }
}