@font-face {
    font-family: 'blackrose';
    src: url('/resources/fonts/BLACKR-webfont.eot');
    src: url('/resources/fonts/BLACKR-webfont.eot?#iefix') format('embedded-opentype'),
         url('/resources/fonts/BLACKR-webfont.woff') format('woff'),
         url('/resources/fonts/BLACKR-webfont.ttf') format('truetype'),
         url('/resources/fonts/BLACKR-webfont.svg#black_roseregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'termes';
    src: url('/resources/fonts/texgyretermes-regular-webfont.eot');
    src: url('/resources/fonts/texgyretermes-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/resources/fonts/texgyretermes-regular-webfont.woff') format('woff'),
         url('/resources/fonts/texgyretermes-regular-webfont.ttf') format('truetype'),
         url('/resources/fonts/texgyretermes-regular-webfont.svg#texgyretermesregular') format('svg');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'termes';
    src: url('/resources/fonts/texgyretermes-italic-webfont.eot');
    src: url('/resources/fonts/texgyretermes-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/resources/fonts/texgyretermes-italic-webfont.woff') format('woff'),
         url('/resources/fonts/texgyretermes-italic-webfont.ttf') format('truetype'),
         url('/resources/fonts/texgyretermes-italic-webfont.svg#texgyretermesitalic') format('svg');
    font-weight: 400;
    font-style: italic;

}

@font-face {
    font-family: 'termes';
    src: url('/resources/fonts/texgyretermes-bolditalic-webfont.eot');
    src: url('/resources/fonts/texgyretermes-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/resources/fonts/texgyretermes-bolditalic-webfont.woff') format('woff'),
         url('/resources/fonts/texgyretermes-bolditalic-webfont.ttf') format('truetype'),
         url('/resources/fonts/texgyretermes-bolditalic-webfont.svg#texgyretermesbold_italic') format('svg');
    font-weight: 700;
    font-style: italic;

}

@font-face {
    font-family: 'termes';
    src: url('/resources/fonts/texgyretermes-bold-webfont.eot');
    src: url('/resources/fonts/texgyretermes-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/resources/fonts/texgyretermes-bold-webfont.woff') format('woff'),
         url('/resources/fonts/texgyretermes-bold-webfont.ttf') format('truetype'),
         url('/resources/fonts/texgyretermes-bold-webfont.svg#texgyretermesbold') format('svg');
    font-weight: 700;
    font-style: normal;

}